.quote {
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  margin-top: 75px;
}

.figure {
  margin-top: 50px;
}

.quote #quote1 {
	font-size: 96px;
	position: relative;
	top: 20px;
}

.quote #quote2 {
	font-size: 96px;
	position: relative;
	top: 80px;
}

#wise_saying {
	margin: 0 15px;
}