body {
  margin: 0;
}

/*네비게이션 바*/
#navbar {
  padding: 0 20px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
  height: 60px;
}

 .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -5px;
  /*width: 5px;*/
  /*background-color: red;*/
}

#logo {
  float: left;
  height: 100%;
  text-decoration: none;
  /*background-color: orange;*/
}

#logo img {
  vertical-align: middle;
}

/*top-right navigation bar*/
#navbar ul {
  list-style-type: none;
  height: 100%;
  float: right;
  margin: 0;
}

#navbar li {
  float: right;
  height: 100%;
  text-align: center;
}

#navbar li:hover {
  background-color: #eeeeee;
}

#navbar a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  padding: 0 10px;
  vertical-align: middle;
}

/*히어로 헤더*/
.hero-header {
  background-image: url("../images/hero_image.jpg");
  background-size: cover;
  background-position: center center;
  height: 670px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

.hero-header .info {
  display: inline-block;
  vertical-align: middle;
  /*background-color: orange;*/
}

.hero-header .info h1 {
  font-size: 36px;
  margin: 0;
  margin-bottom: 13px;
  color: white;
  font-weight: 400;
}

.hero-header .info h2 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 60px;
  color: white;
  font-weight: 400;
}

.hero-header .info a {
  font-size: 14px;
  background-color: white;
  color: #464273;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 5px;
}


