.env-div {
  width: 500px;
  height: 232px;
  position: relative;
  /*가장 가까운 포지셔닝이 된 조상 요소, 기준 점이 된다.*/
}

.address {
  font-family: cursive;
}

.stamp {
	position: absolute;
	top: 30px;
	right: 30px;
}

.address {
	position: absolute;
	bottom: 30px;
	left: 30px;
}